<%- include('../partials/header') -%>

  <main>
    <h2>Join A Game</h2>
    
    <form id="joinGameForm" method="get">
           
            <label for="d1">Enter Game Number</label>
        <input style="width:100%;" type="number" id="gameId" name="gameId" required>
        <br>
        <button type="submit">Join A Game</button>

    </form>

  </main>

  <main>
    <h2>Create A Game</h2>
    <form id="userForm" action="/game" method="post">

<label for="startScore">What Type Of Game:</label>
  <select id="startScore" name="startScore">
    <option value="501">501</option>
    <option value="301">301</option>
    <option value="101">101</option>
  </select>
        <div id="userInputs">
            <!-- Initial text box for username -->
            <div>
              
                <input style="width:100%;" placeholder="Add username here" type="text" name="username" required pattern="[a-zA-Z0-9]+" title="Please enter text and numbers only (no special characters)">
                <input style="width:100%;" placeholder="Add username here" type="text" name="username" required pattern="[a-zA-Z0-9]+" title="Please enter text and numbers only (no special characters)">
            </div>
            
        </div>
    
        <button type="button" onclick="addUserBox()">Add Another Box</button>
    
        <button type="submit">Create Game</button>
    
    </form>


  </main>


  <%- include('../partials/footer') -%>
 


  <script>
    function addUserBox() {
        // Create a new div with label and input elements
        const newBox = document.createElement('div');
        newBox.innerHTML = `
        <input style="width:100%;" placeholder="Add username here" type="text" name="username" required pattern="[a-zA-Z0-9]+" title="Please enter text and numbers only (no special characters)">
        `;

        // Append the new div to the userInputs div
        document.getElementById('userInputs').appendChild(newBox);
    }


    // join game script
    document.getElementById('joinGameForm').addEventListener('submit', function(event) {
        event.preventDefault();  // Prevent the default form submission

        // Get the value from the textbox
        let gameId = parseInt(document.getElementById('gameId').value);

        // Set the entire URL dynamically
        window.location.href = "/dgame/" + parseInt(gameId);
    });


    
</script>

</body>
</html>
