<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quando&display=swap" rel="stylesheet">
    
  
  <link rel="stylesheet" href="../main.css">
  <title>9Darter.funl</title>
  <style>
   
  </style>
</head>
<body>

  <header>
    <h1>9 Darter.fun</h1>
    <p>Real Time Darts Scores</p>
  </header>

  <main>
    <h2>Join A Game</h2>
    
    <form id="joinGameForm" method="get">
           
            <label for="d1">Enter Game Number</label>
        <input  type="number" id="gameId" name="gameId" required>
        <br>
        <button type="submit">Join A Game</button>

    </form>

  </main>

  <main>
    <h2>Create A Game</h2>
    <form id="userForm" action="/game" method="post">

        <div id="userInputs">
            <!-- Initial text box for username -->
            <div>
              
                <input placeholder="Add username here" type="text" name="username" required pattern="[a-zA-Z0-9]+" title="Please enter text and numbers only (no special characters)">
                <input placeholder="Add username here" type="text" name="username" required pattern="[a-zA-Z0-9]+" title="Please enter text and numbers only (no special characters)">
            </div>
            
        </div>
    
        <button type="button" onclick="addUserBox()">Add Another Box</button>
    
        <button type="submit">Create Game</button>
    
    </form>


  </main>

  <footer>
    &copy; 2024 Liam MCCabe
  </footer>


  <script>
    function addUserBox() {
        // Create a new div with label and input elements
        const newBox = document.createElement('div');
        newBox.innerHTML = `
        <input placeholder="Add username here" type="text" name="username" required pattern="[a-zA-Z0-9]+" title="Please enter text and numbers only (no special characters)">
        `;

        // Append the new div to the userInputs div
        document.getElementById('userInputs').appendChild(newBox);
    }


    // join game script
    document.getElementById('joinGameForm').addEventListener('submit', function(event) {
        event.preventDefault();  // Prevent the default form submission

        // Get the value from the textbox
        let gameId = parseInt(document.getElementById('gameId').value);

        // Set the entire URL dynamically
        window.location.href = "/dgame/" + parseInt(gameId);
    });
</script>

</body>
</html>
